# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.sh text eol=lf

# Linguist overrides
*.md linguist-detectable=true
.devcontainer/** linguist-generated=true
CODE_OF_CONDUCT.md linguist-generated=true
CONTRIBUTING.md linguist-generated=true
LICENSE linguist-generated=true
SECURITY.md linguist-generated=true
SUPPORT.md linguist-generated=true 